.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, auto));
  grid-template-rows: repeat(3,1fr);
 
}

.image {
    display: grid;
    margin: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat
}